# Binaries for programs and plugins
main
doglon
*.exe
*.exe~
*.so
*.dylib
*.dll

# Ignore binary output folders
bin/
_docs/
v/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js
